$bgColor: pink;
$fontColor: white;
$fontSize: 1.2rem;
$fontFamily: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$navBgColor: #30a7c3;
$myBorder: 2px solid rgb(175, 29, 29);
$myLinkSize: 1.1rem;
$bannerBgColor: #cc6699;